!!! 5
%html
  %head
    %title Shelf Talkers 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .header
      .title-box
        %span.company Company Name
        %span.title Shelf Talkers
    #main
      .container-fluid
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
        = yield
